<% include partials/header %>

<h1>This is the home page!</h1>
<img
  src="https://barkingroyalty.com/wp-content/uploads/2016/11/red-heeler.jpg"
  alt="Picture of a Red Heeler in a field"
/>

<% include partials/footer %>