<% include ./partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">New Blog</div>
  <form class="ui form" action="/blogs" method="POST">
    <div class="field">
      <title>Title</title>
      <input type="text" name="blog[title]" placeholder="Title" />
    </div>
    <div class="field">
      <title>Image</title>
      <input type="text" name="blog[image]" placeholder="Image" />
    </div>
    <div class="field">
      <title>Blog Post</title>
      <textarea name="blog[body]" id="" cols="30" rows="10" required></textarea>
    </div>
    <div class="field"></div>
    <input type="submit" class="ui violet basic button" />
  </form>
</div>

<% include ./partials/footer %>
